// Color Variables
$indigo: #5c6bc0;
$blue: #29b6f6;
$black: #717171;

.grid {
  float: none;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;

  .size_normal,
  .size_large {
    width: 100%;
    height: 258px;

    img {
      width: 100%;
      max-width: 100%;
    }

    // Elipse diagonal en la parte inferior
    &::before {
      content: "";
      position: absolute;
      bottom: -48px;
      background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ); // Opacidad y color de fondo

      width: 100%;
      height: 214px;
      border-radius: 50%;
      transform: rotate(138deg);

      // Curvatura y área recortada
    }
  }

  .size_normal {
    width: 296px;

    // Ajustes específicos para size_normal
    &::before {
      left: -82px;
      width: 554px;
    }
  }

  .size_large {
    width: 860px;

    // Ajustes específicos para size_large
    &::before {
      left: -161px;
      width: 1200px;
      height: 366px;
      bottom: -188px;
      transform: rotate(161deg);
      // Curvatura y área recortada
    }
  }

  .card__image {
    border-radius: 15px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      margin-bottom: 0;

      transition: all 0.25s ease-in-out;
    }

    // Efecto de escala al pasar el cursor sobre la imagen
    &:hover > img {
      transform: scale(1.2);
    }
  }

  .card__title {
    color: white;
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.35em;
    text-decoration: none;

    transition: all 0.3s ease-out;

    // Cambio de color al pasar el cursor sobre el título
    &:hover {
      color: rgba(white, 0.7);
      text-decoration: none;
    }
  }

  .card__description {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0.35em;
  }

  .card__overlay-content {
    position: absolute;
    text-align: end;
    bottom: 0;
    right: 0;
    padding: 1.5em;
  }

  @media screen and (max-width: 768px) {
    // Ajustes para dispositivos con un ancho máximo de 768px
    .size_normal,
    .size_large {
      width: 90vw;
      height: 200px;
      margin-bottom: 1em;
    }

    .size_normal {
      &::before {
        left: -20px;
        width: 600px;
        transform: rotate(154deg);
      }
    }
  }
}
