<div class="projcard-container">
  <div class="projcard">
    <div class="projcard-innerbox">
      <img class="projcard-img" [src]="image" />
      <div class="projcard-textbox">
        <div class="projcard-title">Our destinations</div>
        <div class="projcard-subtitle">Discover the world</div>
        <div class="projcard-description">
          Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you
          to explore the world together!
        </div>
      </div>
    </div>
  </div>
</div>