// Variables de colores
$primary-color: rgb(29, 24, 35);
$secondary-color: rgba(83, 127, 231, 1);
$border-color: #ddd;
$text-color: #fff;
$subtitle-color: #c0eef2;

.projcard-container {
  // Contenedor principal
  margin: 30px 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: 79vw;

  .projcard {
    // Tarjeta del proyecto
    position: relative;
    width: 100%;
    height: 380px;
    border-radius: 10px;
    background: $primary-color;
    background: linear-gradient(
      90deg,
      $primary-color 32%,
      $secondary-color 99%
    );
    border: 2px solid $border-color;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:hover {
      box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
      transform: translate(0px, -3px);
    }

    &:nth-child(2n) .projcard-img {
      // Posición de imagen en tarjetas pares
      left: initial;
      right: 0;
    }

    &:hover .projcard-img {
      // Efecto de imagen al pasar el cursor sobre la tarjeta
      transform: scale(1.05) rotate(1deg);
    }
  }
}

.projcard-innerbox {
  // Contenedor interno de la tarjeta
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .projcard-img {
    // Imagen del proyecto
    position: absolute;
    height: 380px;
    width: 420px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
    clip-path: circle(100% at 0 50%);
  }
}

.projcard-textbox {
  // Contenedor de texto de la tarjeta
  position: absolute;
  color: $text-color;
  top: 7%;
  bottom: 7%;
  left: 460px;
  width: calc(100% - 470px);
  padding-top: 60px;

  .projcard-title {
    // Título del proyecto
    font-weight: 700;
    font-size: 40px;
  }

  .projcard-subtitle {
    // Subtítulo del proyecto
    font-weight: 400;
    font-size: 40px;
    color: $subtitle-color;
    margin-bottom: 30px;
  }

  .projcard-description {
    // Descripción del proyecto
    width: 600px;
  }
}

@media screen and (max-width: 472px) {
  // Media query para dispositivos con un ancho máximo de 768px

  .projcard-container {
    margin: 0;
    width: 90vw;

    .projcard {
      height: 90vmax;
    }

    .projcard-innerbox {
      display: flex;
      flex-direction: column;

      .projcard-img {
        position: initial;
        clip-path: circle(94% at 40% 0);
      }

      .projcard-textbox {
        padding: 0 10px;
        margin: auto 0;
        width: 100%;

        .projcard-title {
          font-size: 34px;
        }

        .projcard-subtitle {
          font-size: 34px;
        }

        .projcard-description {
          width: 100%;
        }
      }
    }

    .projcard-textbox {
      position: static;
      margin-top: 20px;
    }
  }
}
