<footer class="footer">
  <div class="container">
    <div class="left-area">
      <img [src]="logo" alt="logo">
    </div>
    <div class="right-area">
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Destinations</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Madrid</a>
            </li>
            <li>
              <a href="#">Barcelona</a>
            </li>
            <li>
              <a href="#">London</a>
            </li>
            <li>
              <a href="#">Paris</a>
            </li>

            <li>
              <a href="#">Roma</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal information</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy policy</a>
            </li>

            <li>
              <a href="#">Cookie policies</a>
            </li>

            <li>
              <a href="#">data treatment</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Book your flight</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Search flights</a>
            </li>

            <li>
              <a href="#">Price calendar</a>
            </li>

            <li>
              <a href="#">Destination map</a>
            </li>

            <li>
              <a href="#">Flight times</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="follow">
        <h2 class="follow__title">Follow us</h2>
        <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
        <fa-icon class="icon" [icon]="faYoutube"></fa-icon>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Website terms of use | Site map | environment| contact@arilines.com</p>
  </div>
</footer>