.footer {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
    color: #2f2f2f;
    background-color: #e7e6f6;
    border-top: 1px solid #e5e5e5;

    .left-area {
      display: flex;
      justify-content: center;
      width: 300px;
    }

    .right-area {
      //background-color: blue;

      .footer__nav {
        display: flex;
        flex-flow: row wrap;

        list-style: none;
        padding-left: 0;

        ul {
          list-style: none;
          li {
            line-height: 2em;

            a {
              text-decoration: none;
              color: #181823;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .nav__item {
          margin-right: 4em;

          .nav__title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 1em;
          }
        }
      }
    }

    .follow {
      display: flex;
      flex-flow: row wrap;
      justify-content: end;
      align-items: end;

      .follow__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1em;
        width: 100%;
        text-align: center;
        margin-left: 316px;
      }

      .icon {
        margin-right: 12px;
        border: 2px solid #2f2f2f;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;

        &:hover {
          background-color: #2f2f2f;
          color: #fff;
        }
      }
    }
  }

  .bottom {
    padding: 1em 10%;
    background-color: #f1f0ff;
    color: #9292a0;
    height: 48px;
  }

  // Media queries
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 20px;

      .left-area {
        width: 100%;
        margin-bottom: 20px;
        justify-content: start;
        order: 1;
      }

      .right-area {
        order: 3;

        .footer__nav {
          flex-flow: column wrap;

          .nav__item {
            margin-right: 2em;

            .nav__title {
              margin-top: 1.5em;
            }
          }
        }

        .follow {
          order: 2;
          justify-content: start;

          .follow__title {
            margin-left: 0;
            text-align: start;
          }
        }
      }
    }

    .bottom {
      text-align: start;
      height: auto;
      padding: 14px 4%;

      p {
        font-size: 14px;
      }
    }
  }
}
