<header>
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
  </div>
  <nav>
    <fa-icon class="icon bar" [icon]="showServices ? faX : faBars" (click)="toggleServices()"></fa-icon>
    <ng-container [ngSwitch]="currentRoute">
      <!-- Menú para la ruta "/" -->
      <ng-template [ngSwitchCase]="'/'">
        <ul class="services" [ngClass]="{ 'show': showServices }" routerLinkActive="active">
          <li><a routerLink="/check-in">Check-in</a></li>
          <li><a routerLink="/manage">Manage my booking</a></li>
          <li><a routerLink="/information">Information</a></li>
        </ul>
      </ng-template>
      <!-- Menú para la ruta "/manage" -->
      <ng-template [ngSwitchCase]="'/manage'">
        <ul class="services" routerLinkActive="active">
          <li><a routerLink="/check-in">Check-in</a></li>
          <li><a routerLink="/manage">Manage my booking</a></li>
          <li><a routerLink="/information">Information</a></li>
        </ul>
      </ng-template>
      <!-- Menú para la ruta "/information" -->
      <ng-template [ngSwitchCase]="'/information'">
        <div class="services">
          <ul class="services" [ngClass]="{ 'show': showServices }" routerLinkActive="active">
            <li><a href="#">Help center</a></li>
            <li><a href="#">Fight state</a></li>
            <li><a href="#">Airplanes</a></li>
            <li><a href="#">Routes</a></li>
          </ul>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div class="lang">
    <fa-icon class="icon" [icon]="faGlobe"></fa-icon>
    <a href="#">English</a>
  </div>
</header>