li,
a {
  font-weight: 400;
  font-size: 16px;
  color: #181823;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;

  .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  nav {
    margin-left: 50px;

    .bar {
      display: none;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 0px 20px;

        a {
          transition: all 0.3s ease 0s;

          &:hover {
            color: #f5f5f5;
            background-color: #537fe7;
            border-radius: 5px;
            padding: 8px 15px;
          }
        }
      }
    }
  }

  .lang {
    margin-left: auto;
    cursor: pointer;
    padding: 8px 15px;

    a {
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen {
    @media (max-width: 768px) {
      padding: 0 0;
      justify-content: space-between;
      margin: 8px 0;

      .logo a img {
        width: 110px;
      }

      nav {
        margin-left: 0px;
        margin-top: 0;
        order: 1; // Nuevo orden para el media query

        .bar {
          display: block;
          margin-right: auto;
          cursor: pointer;
          padding: 8px 15px;
        }

        .services {
          //display: none;
          position: fixed;
          width: 100%;
          height: 100vh;
          background-color: #fff;
          padding-top: 30px;
          text-align: start;
          left: -100%;
          transition: all 0.5s ease 0s;
          z-index: 999;

          h2.show {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
          }

          li {
            display: block;
            margin: 20px 0;
            border-bottom: #b2b2c1 solid 1px;
            padding-bottom: 20px;

            a {
              font-size: 20px;
              font-weight: 400;

              &:hover {
                color: #537fe7;
                background-color: #fff;
                padding: 8px 15px;
              }
            }
          }
        }

        .services.show {
          left: 0;
        }
      }

      .logo {
        order: 2; // Nuevo orden para el media query
      }

      .lang {
        margin-left: 0;
        order: 3; // Nuevo orden para el media query

        a {
          display: none;
        }
      }
    }
  }

  @media screen {
    @media (min-width: 769px) and (max-width: 1024px) {
      nav {
        margin-left: 18px;
        .services li {
          padding: 0 10px;
        }
      }
    }
  }
}
