.section-offers {
  padding: 36px 0;

  h2 {
    font-size: 28px;
    padding-left: 192px;
    font-weight: 700;
  }

  .site__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 192px;
    margin-top: 36px;
  }

  @media screen and (max-width: 768px) {
    h2 {
      padding-left: 20px;
    }

    .site__wrapper {
      padding: 0 20px;
    }
  }
}
