.banner {
  background-image: url("../../../assets/images/banner.jpg");
  width: 100%;
  height: 60vh;

  .banner-content {
    color: #fff;
    width: 50%;
    padding-top: 160px;
    padding-left: 192px;

    h1 {
      font-size: 58px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 30px;
      width: 68%;
      letter-spacing: 1px;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 30px;
      font-weight: 700;
      background-color: #c20114;
      border-radius: 30px;

      &:hover {
        background-color: #fff;
        color: #c20114;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  // Media queries para hacerlo responsive
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 31% 8%;

    .container .banner-content {
      width: 100%;
      padding: 0 20px;

      h1 {
        font-size: 42px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
        width: 100%;
      }

      a {
        padding: 8px 20px;
      }
    }
  }
}
