/* Here section of the code is used to style the banner component */

.banner {
  background-image: url("../../../assets/images/banner.jpg");
  width: 100%;
  height: 60vh;

  .banner-content {
    color: #fff;
    width: 50%;
    padding-top: 160px;
    padding-left: 192px;

    h1 {
      font-size: 58px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 30px;
      width: 68%;
      letter-spacing: 1px;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 10px 30px;
      font-weight: 700;
      background-color: #c20114;
      border-radius: 30px;

      &:hover {
        background-color: #fff;
        color: #c20114;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
