/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
